<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fff" />
    <meta property="og:youtube" itemprop="youtube" content="https://www.youtube.com/channel/UCFr9NvjWXy3SpiP6Dafcnig" />
    <meta property="og:instagram" itemprop="instagram" content="https://www.instagram.com/expresstodaypodcast/?hl=en" />
    <meta property="og:title" itemprop="title" name="title" content="Express Today" />
    <meta name="keywords"
        content="tech,express,today,expresstoday,todayexpress,todayxpress,xpresstoday,technews,podcasts,blog,news,articles" />
    <meta name="robots" content="index, follow">
    <meta name="robots" content="max-image-preview:large">
    <meta name="google-site-verification" content="FfYU-lCxMs6BUINR4dlaBMMKr5QR6Fyxhplhi7CWr3U" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta itemprop="author" name="author" content="Express Today" />
    <meta property="og:image" content="https://yt3.ggpht.com/WTpLoqTF7-q_MqGCcL6z2fBzYbIOlyYS63i-5oxPIEfdC3hdXiNudJLRxZCCjRdMfyLJT-PG=s88-c-k-c0x00ffffff-no-rj" />
    <title>{{ title }}</title>
    <link property="og:image" itemprop="image" rel="icon"
        href="https://yt3.ggpht.com/WTpLoqTF7-q_MqGCcL6z2fBzYbIOlyYS63i-5oxPIEfdC3hdXiNudJLRxZCCjRdMfyLJT-PG=s88-c-k-c0x00ffffff-no-rj"
        type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="manifest" href="manifest.json">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    {% include 'header.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}



    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/sw.js').then(function (registration) {
                    console.log('Service worker successfully registered on scope', registration.scope);
                }).catch(function (error) {
                    console.log('Service worker failed to register');
                });
            });
        }

        self.addEventListener('install', function (event) {
            console.log('Installed sw.js', event);
        });

        self.addEventListener('activate', function (event) {
            console.log('Activated sw.js', event);
        });
    </script>
    <script type='text/javascript'
        src='https://platform-api.sharethis.com/js/sharethis.js#property=62660afdeb843b00192d14b7&product=inline-reaction-buttons'
        async='async'></script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1540238782920365"
        crossorigin="anonymous"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "d36043bc-b22d-4c45-afb4-2a7b44ae9cf5",
            });
        });
    </script>

</body>

</html>