<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <meta itemprop="title" name="title" content="Express Today">
    <meta itemprop="description" name="description"
        content="We Are The Express Today Team. We Make Tech And Interview Podcasts With Muhammed Fuhad.">
    <meta name="keywords"
        content="tech,express,today,express today,todayexpress,today express,expresstoday,muhammedfuhad,podcasts,blog,articles">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Express Today">
    <title>{{ title }}</title>
    <link rel="icon"
        href="https://yt3.ggpht.com/WTpLoqTF7-q_MqGCcL6z2fBzYbIOlyYS63i-5oxPIEfdC3hdXiNudJLRxZCCjRdMfyLJT-PG=s88-c-k-c0x00ffffff-no-rj"
        type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LYT8PKRDFE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-LYT8PKRDFE');
    </script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1540238782920365"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "d36043bc-b22d-4c45-afb4-2a7b44ae9cf5",
            });
        });
    </script>
</head>

<body>
    <div id="loading">
        <img id="loading-image" src="https://cdn.dribbble.com/users/784258/screenshots/3119074/media/01f2f8d3365e9417c69423f922f366b6.gif" alt="loading">
    </div>

        {% include 'header.njk' %}
        <main>
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}

    <script>
        $(window).on('load', function () {
            $('#loading').hide();
        })
    </script>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

</body>

</html>