<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<nav class="nav">
  <a href="/" class="nav__link">
    <span class="material-symbols-outlined">
      home
    </span>
    <span class="nav__text">Home</span>
  </a>
  <a href="/blog" class="nav__link">
    <span class="material-symbols-outlined">
      article
    </span>
    <span class="nav__text">Blog</span>
  </a>
  <a href="/podcast" class="nav__link">
    <span class="material-symbols-outlined">
      podcasts
    </span>
    <span class="nav__text">Podcast</span>
  </a>
  <a href="/signin.html" class="nav__link">
    <span class="material-symbols-outlined">
      person
    </span>
    <span class="nav__text">Account</span>
  </a>
</nav>

<header class="page-header">
  <div class="container">
    <div class="page-header__content">
        <h1 class="logo">EXPRESS TODAY</h1>
    </div>
  </div>
</header>