---
title: Express Today
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h2 class="section-title" title="Welcome To Express Today">WELCOME TO EXPRESS TODAY !</h2>
      <p>We Are The Express Today Team. We Make Tech And Interview Podcasts With Muhammed Fuhad.</p>
      <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
      <div class="flex-group">
        <a href="/blog" class="btn btn--primary">RECENT ARTICLES</a>
      </div>
    </div>
    <div>
      <img src="//unsplash.it/510" alt="image" class="hero__image">
    </div>
  </div>
</section>

<h2 class="section-title text-center " title="Podcasts">PODCASTS</h2>
<div class="podcast-section" itemscope itemtype="https://schema.org/podcast">
  <iframe style="border-radius:12px" title="Podcast Trailer"
    src="https://open.spotify.com/embed/show/1ADSStXZV8y2popr6FTuqZ?utm_source=generator" width="75%%" height="232"
    frameBorder="0" allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>

<section id="featured-articles" class="featured-articles"itemscope itemtype="https://schema.org/article">
  <div class="container flow">
    <h2 class="section-title text-center " title="Featured Articles">FEATURED ARTICLES</h2>
    <p class="text-center">Here You Can Find Featured Articles.</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor %}
    </ul>
  </div>
</section>

<div class="container-contact">
  <span class="big-circle"></span>
  <img src="./assets/images/shape.png" class="square" alt="image" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Let's get in touch</h3>
      <p class="text">
        You Can Contact With Us With Just Typing The Information Below.
      </p>

      <div class="info">
        <div class="information">
          <img src="./assets/images/location.png" class="icon" alt="location" />
          <p>Kerala, India</p>
        </div>
        <div class="information">
          <img src="./assets/images/email.png" class="icon" alt="gmail" />
          <p>mail.expresstoday@gmail.com</p>
        </div>
      </div>

      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form action="" id="submit-form"  autocomplete="off">
        <h3 class="title">Contact us</h3>
        <div class="input-container">
          <input type="text" name="name" id="fname" class="input" />
          <label for="fname">Username</label>
          <span>Username</span>
        </div>
        <div class="input-container">
          <input type="email" name="email" id="email" class="input" />
          <label for="email">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" id="phone-number" class="input" />
          <label for="phone-number">Phone</label>
          <span>Phone</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" id="messege" class="input"></textarea>
          <label for="messege">Message</label>
          <span>Message</span>
        </div>
        <input type="submit" value="Send" class="btn-contact" />
      </form>
    </div>
  </div>
</div>

<script>
  $("#submit-form").submit((e)=>{
      e.preventDefault()
      $.ajax({
          url:"https://script.google.com/macros/s/AKfycbzxOY_F1a2WbnTmmY044ayZD56PoMIEAtrfMojweyLNWGjMKvbpPUUbgc44lFLjFWIF/exec",
          data:$("#submit-form").serialize(),
          method:"post",
          success:function (response){
              alert("Submitted Sucessfully")
              window.location.reload()
              window.location.href="https://expresstoday.info"
          },
          error:function (err){
              alert("Something Error")

          }
      })
  })
</script>

<script>
  const inputs = document.querySelectorAll(".input");

function focusFunc() {
  let parent = this.parentNode;
  parent.classList.add("focus");
}

function blurFunc() {
  let parent = this.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputs.forEach((input) => {
  input.addEventListener("focus", focusFunc);
  input.addEventListener("blur", blurFunc);
});
</script>
</body>