---
title: Podcast 
layout: 'base.njk'
---

<h2 class="section-title text-center " title="featured-podcasts">RECENT PODCAST</h2>
<div class="podcast-section" itemscope itemtype="https://schema.org/podcast">
  <iframe style="border-radius:12px" title="Podcast Trailer"
    src="https://open.spotify.com/embed/show/1ADSStXZV8y2popr6FTuqZ?utm_source=generator" width="75%%" height="232"
    frameBorder="0" allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>